.topicos {
    background: var(--azul-degrade);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(53, 50, 50, 0.25);
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topico__link {
    color: var(--branco);
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 1em;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 2em 30vw;
    }
    .topico__link {
        font-size: 24px;
    }
    .topicos__titulo {
        font-size: 32px;
        margin-bottom: 1em;
    }
    .topicos__item {
        padding: 0.3em;
    }
}